
<footer class="footer-container">
    <div class="footer-information">
        <h2 class="footer-head">About Us</h2>
        <p class="footer-info">
            CalmSpace is an online 
            platform that provides
            therapy services.
            <br>Start your journey with us today.
        </p>
    </div>

    <div class="information-footer">
        <h2 class="footer-head">Contact Details</h2>
        <ul class="footer-info">
            <li><a href="https://wa.me/">WhatsApp: (+254) 700 123 456</a></li>
            <li><a href="mailto:info@calmspace.com.com">info@calmspace.com</a></li>
            <li>Virtual Hours: 8:00 AM to 7:00 PM</li>
        </ul>
    </div>
</footer>

<div class="footer-bottom">
    &copy; 2025 CalmSpace. All rights reserved.
</div>

<script src="script.js"></script>